<a href="https://colab.research.google.com/github/MerariGalaviz/Curso-Fes/blob/main/Primera_Clase_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#operadores relacionales
operador=10 == 20
print(operador)
a=10
b=15
c=20
resultado=  not((a>b) or (b<c))
print (resultado)
#operadores de asignación
a=1
a += 3 #asignación suma
a-= 1
a *= 3
a **= 2
#salida de datos
Nombre= "fernado"
Altura= 1.75

print("Tu nombre es", Nombre)
print("Tu Altura es", Altura)
print(a)
#utilizamos format
print("Tu nombre es: {} y tu Altura es: {}".format(Nombre, Altura))
#ESTA ES LA QUE UTILIZREMOS
print(f"Tu nombre es: {Nombre} y tu altura es:{Altura}metros")
print(f"Hola: {Nombre} tu Altura es:{Altura} metros" )
#Entrado de datos
#input es una función que se utiliza para pedir datos al usuario
nombre= input("Digite su nombre")
print(f"Hola {nombre}")
print(f"Buenas noches{nombre}")
#Funciones integradas
#Convertir de valor numerico o cadena
#n= str(10)
#print (n)
#de enteros a binarios
n=bin(10)
print(n)
n=abs(-10)
print(n)
n= len("Fernando Calderon")
print(n)

False
False
Tu nombre es fernado
Tu Altura es 1.75
81
Tu nombre es: fernado y tu Altura es: 1.75
Tu nombre es: fernado y tu altura es:1.75metros
Hola: fernado tu Altura es:1.75 metros
Digite su nombreliliana
Hola liliana
Buenas nochesliliana
0b1010
10
17

In [21]:
numero= int(input("Digite un número"))

print(f"El númeroes {numero *5}")
numero=float(input("Digite un numero:"))
print(f"El numero es{numero *5}")
#Funciones integradas
n= str(10)
print(n)

Digite un número5.5

ValueError: invalid literal for int() with base 10: '5.5'

## `Nueva sección`